In [1]:
# IMPRTING LIBRARIES

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
from sklearn.model_selection import train_test_split

In [ ]:
#READIN CSV FILE OF MOBILE THAT FILE CONTENTS MODEL NO AND PRICE

In [3]:
data=pd.read_csv('mobile.csv')

In [ ]:
# DATA

In [4]:
data

   model   price
0      7    4500
1      8    5000
2      9    7000
3     10    8000
4     11   85000
5     12    9000
6     13  100000
7     14  120000
8     15  135000
9     16  145000

In [ ]:
# accesing particular columns

In [5]:
x=data['model'].values.reshape(-1, 1)  
y=data['price'].values

In [6]:
y

array([  4500,   5000,   7000,   8000,  85000,   9000, 100000, 120000,
       135000, 145000], dtype=int64)

In [ ]:
#training

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
x

array([[ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16]], dtype=int64)

In [ ]:
#FITTING INTO THE MODEL

In [12]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
#PREDICTING THE PRICE

In [13]:
pred=model.predict([[20]])

In [14]:
print('The price of the iphone is ',pred,'INR')

The price of the iphone is  [208525.86206897] INR

In [ ]:
# CREATING GUI

In [ ]:
import tkinter
import joblib
from tkinter import *
import joblib
from sklearn import *
model=LinearRegression()
model.fit(x,y)
joblib.dump(model,'model_joblib_diabetes')
from PIL import ImageTk,Image
import PIL.Image
import tkinter
import joblib

from tkinter import *
import joblib
from sklearn import *
def Seee():
    p1=float(e1.get())
   
    rf=joblib.load('model_joblib_diabetes')
    r=rf.predict([[p1]])
    if r>0:
        lb1=Label(text="the price of mobile in INR",font=('Arial',30,'bold')).grid(row=32,column=4)
        lb2=Label(text=r,font=('Arial',30,'bold')).grid(row=33)
    else:
        
        Label(text='enter correct vaLUES',font=('Arial',30,'bold')).grid(row=31)
master=Tk()


master.title('mobilr price prediction using ML')
master.configure(bg='navyblue')
master.maxsize(1500,1500)
label=Label(master,text='mobile price prediction using ml',bg='blue',fg='white').grid(row=0,column=8,pady=50)
Label(master,text='Enter the iphone model').grid(row=1,column=4,pady=2)

e1=Entry(bg='cyan',fg='black')

e1.grid(row=1, column=7)
BTN=Button(text='predict price',bg='green',activebackground='blue',borderwidth=3,font=('Arial',15,'bold'),command=Seee)
BTN.grid(row=22,column=21,pady=40)
master.mainloop()